body {
	background-color:darkslategrey; /*instrukcja 1 .usuwamy t³o w body*/
	width: 1024px; /*ustalamy wymiary wybranych znaczników*/
	height: 980px; /*ustalamy wymiary wybranych znaczników*/
	margin: auto; /*margin:auto centruje zawartoœæ body wzglêdem okna przegl¹darki*/
}

h1 {
	font-size: 42px;
	font-weight: 400;
	color:bisque;
	margin-bottom: 20px;
	text-align: center;
}

h3 {
	font-size: 10px;
	font-weight:400;
	color: bisque;
	margin-bottom: 20px;
	
}

nav {
	width: 200px;
	height: 800px;
	/*background: #66ccff;*/ /*instrukcja 5. dodajemy kolor t³a dla nav*/
}

article {
	width: 590px;
	height: 800px;
	/*instrukcja 2. dodajemy t³o dla znacznika article w posaci gradientu */
	/*background: radial-gradient(circle at 600px 600px,#33bbff 5%,#99ddff 15%, #66ccff 70%);*/
	/*overflow: auto;*/ /*8. dodajemy overflow tak by tekst by³ przewijany wewn¹trz znacznika article */
}

aside {
	width: 200px;
	height: 800px;
	/*background-color: ActiveCaption;*/ /*instrukcja 9. dodajemy kolor t³a dla aside*/
}

nav, aside, article { /*przyk³ad selektora wielu klas (znaczników) - nazwy oddzielone s¹ po przecinku*/
	display: block;
	float: left;
}

iframe {
	width: 200px; /*mo¿na równie¿ zastosowaæ wartoœci %  width: 100%;*/
	height: 800px;
	border: none;
}


/*instrukcja 3. dodajemy selektor stopki i ustawiamy obramowanie oraz wysokoœæ i szerokoœæ 
    i sprawdzamy gdzie pojawia siê ramka
*/
footer {
	/*border-width: 1px;*/ /*wariat 1 border*/
	/*szerokoœæ ramki: góra prawo lewo dó³*/
	/*border-width: 5px 4px 3px 2px;*/ /*wariat 2 border*/
	/*border-style: dashed;
    border-color: green;
    height: 80px;
    width: 990px;*/
	/*sprawdzamy póŸniej 4*/
	/*clear: both;*/ /*4. dodajemy w³aœciwoœæ clear z wartoœci¹, która przesuwa poni¿ej elementów p³ywaj¹cych po obu stronach  (elementyp³ywaj¹ce posaidaj¹ w³aœciwoœæ float)*/
}


/*instrukcja 6. zmiany dla nag³ówka stosujemy selektro bezpoœredniego potomka po znaczniku body znak ">"  sprawdziæ co siê dzieje tylko z samym selektorem header  */
/*body >header {
    width: 990px;
    height: 100px;
    background-color: dodgerblue;
    text-align: center;
}*/

/*instrukcja 7. wyœrodkowanie tekstu we wszystkich znacznikach header*/
/*header{text-align:center}*/


/*instrukcja 10 mimo ustalenia takich samych szerokoœci header i footer s¹ ró¿ne przez obramowanie 
     box-sizing ustala jak ma byæ liczona szerokoœæ i wysokoœæ
*/
/** {
    box-sizing: border-box;
}*/
.row
{
	margin: 20px 10px;

}

legend {
	color: #efefef;
}
.col
{
	display: inline-block;
	margin:0px 10px;
}